%stretch-panel {
  flex-grow: 1;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.App {
  &__main {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
  }

  &__sidebar {
    @extend %stretch-panel;

    flex-basis: 60%;
    border-color: blue;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    @extend %stretch-panel;

    flex-basis: 30%;
    border-color: green;
  }

  &__form {
    @extend %stretch-panel;
  }
}
